.jumbotron {
    background-image: url("/assets/img/burger.png");
    background-position: right;
    background-size: cover;
}

body {
    padding: 10px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    
}